@model EFDataApp.Models.User
@{
    ViewBag.Title = "Редактирование пользователя";
}

<form metod ="post" asp-antiforgery="true" asp-action="Edit" asp-controller="Home">
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Name">Имя</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Age">Возраст</label><br />
            <input asp-for="Age" />
            <span asp-validation-for="Age"></span>
        </div>
        <div>
            <input type="submit" value="Сохранить" />
        </div>
    </div>
</form>


@section scripts{

        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}