@model IEnumerable<User>
@{
    ViewBag.Title = "Список пользователей";
}
<a asp-action="Create" asp-controller="Home">Добавить пользователя</a>
<h3>Список сотрудников</h3>

<table class="table">
    <tr><th>Имя</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">Подробнее</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
</table>
